/target

# Ignore generated database files
*.redb
*.log
*.patch

# Xcode project files
*.xcodeproj/
*.xcworkspace/
*.xcuserdata/
*.xcscheme
*.entitlements
*.storyboard
*.swift
*.h
*.metal
*.xcassets/
*.plist

# macOS system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db